[submodule "protozero"]
	path = protozero
	url = https://github.com/mapbox/protozero
[submodule "libosmium"]
	path = libosmium
	url = https://github.com/osmcode/libosmium
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
